.container {
  position: relative;
  display: block;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
