// Colors
$black: #252525;
$white: #fff;
$primary: $black;
// Typography
$font-stack: system, -apple-system, ".SFNSText-Regular", "San Francisco",
  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
