@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: goldenrod;
}

html,
body {
  font-family: 'Roboto';
  background: #353535;
  color: #fff;
  line-height: 1.618;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc((960/(12/#{$i}))*1%);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}